@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading1 {
    margin: 60px 0px 10px;
}

.heading12 {
    color: blueviolet;
}

.outerBox{
    background-color: aquamarine;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
    border-radius: 25px;
}

::placeholder {
    text-align: center;
}

#height {
    height: 2em;
    width: 10em;
}

#weight {
    height: 2em;
    margin-top: 10px;
    width: 10em;
}

.btnSubmit {
    width: 10em;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 2em;
    border: 1px solid black;
    margin-top: 20px;
}


.modalWindow {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 20em;
    height: 10em;
    gap: 20px;
    border-radius: 25px;
}

.exitButton {
    align-self: flex-end;
    margin: 20px 20px 0px 0px;
    padding: 1px 4px;
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}